html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  @apply w-full h-auto bg-white p-20 shadow-md;
}

.navbar ul {
  @apply flex-1 align-center;
}

.navbar li {
  @apply mx-15 font-bold;
}

.navbar a {
  @apply text-black no-underline;
}
